.overview {
    display: flex;
    padding: 10px;
    margin: 10px 0;
    gap: 10px;
}

.overview-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--bg-card);
    border: 1px solid var(--border);
    box-shadow: var(--shadow);
    padding: 10px;
    text-align: center;
    border-radius: 10px
}

.add-card {
    background: var(--bg-card);
    border: 1px solid var(--border);
    box-shadow: var(--shadow);
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}

.add-card-inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.income-text {
    color: var(--income);
}

.expense-text {
    color: var(--expense);
}

table {
    border: 1px solid var(--border);
    padding: 5px;
    border-radius: 5px;
}
